#foot2010{ width: 960px; margin: 0 auto; color: #000; text-align: center; clear:both; overflow:hidden;}
#foot2010 *{ padding: 0; margin: 0; font-size: 12px; }
#foot2010 a{ color: #000; text-decoration: none; }
#foot2010 a:hover{ text-decoration: underline; }
#foot2010 .link{ background: url(http://img.hexun.com/news/2010/img/head2010.gif) repeat-x 0 -637px; height:30px; line-height: 30px; padding: 8px 10px 0 10px; }
#foot2010 .copyright{ padding-top: 6px; font-family: Arial, Helvetica, sans-serif; line-height: 1.7em;  }